/* styles.css (ou arquivo CSS personalizado) */
.gradient-border {
    position: relative;
  }
  
  .gradient-border::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px; /* Altura da borda */
    background-image: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);
  }
  